<% contentFor('body') %>
    <h1>project Home</h1>
    <h1>專案名單 : </h1>
    <p>專案數量 : <%= projects.length %></p>

    <% if(projects.length>0) {%>
        <% for(project of projects) {%>
            <%- include('../../components/projectCard.ejs',{ project }) %>
        <% }%>
    <% } else {%>
        <p>目前無專案</p>
    <%}%>
    <a href="/admin/project/createProject">Create Project</a>

