<%- contentFor('body') %>
    <!-- action 指名要送到哪一個路由，記得聲明方法為POST -->
    <form action="/admin/user/addUser" method="POST">
        <!-- name 屬性即此input欄位的key，而此input的value會是使用者輸入的內容 -->
        <div>
            <label for="name">name</label>
            <input id="name" type="text" name="name" placeholder="輸入使用者名稱">
        </div>
        <div>
            <label for="account">account</label>
            <input id="account" type="text" name="account" placeholder="輸入帳號">
        </div>
        <div>
            <label for="password">password</label>
            <input id="password" type="text" name="password" placeholder="輸入密碼">
        </div>
        <div>
            <label for="email">email</label>
            <input id="email" type="text" name="email" placeholder="輸入email">
        </div>
        <button type="submit">Create User</button>
    </form>