<% contentFor('body') %>
    <h1>專案名單 : </h1>
    <p><%= projects.length %></p>

    <% if(projects.length>0) {%>
        <% for(project of projects) {%>
            <p><%= project.title%></p>
        <% }%>
    <% } else {%>
        <p>目前無專案</p>
    <%}%>

