<% contentFor('body') %>
    <h1 class="page-title">Admin使用註冊 </h1>
     <form action="/admin/signup" method="post">
        <div>
            <label for="email">email</label>
            <input type="email" name="email" id="email">
        </div>
        <div>
            <label for="account">account</label>
            <input type="text" name="account" id="account">
        </div>
        <div>
            <label for="password">password</label>
            <input type="text" name="password" id="password">
        </div>
        <button type="submit">送出</button>
    </form>