<!-- projectCard recive a Project object from outside -->
<p><%= project.title %></p>
<p><%= project.repoUrl %></p>

<a href="/admin/project/delete/<%= project.id %>">Delete</a>
<!-- <form>
    <button type="submit">Delete</button>
</form> -->